* {
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    display: flex;
    justify-content: center;
    height: 100vh;
}

body {
    background-color: #c4ebf9;
    display: grid;
    grid-template-areas:
      'header header'
      'aside article'
      'footer footer';
    gap: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr auto;
    max-width: 992px;
    margin: 30px;
}

header {
    background-color:#02bfb1;
    grid-area: header;
    padding: 20px;
}

aside {
    background-color: #6edb6e;
    grid-area: aside;
    padding: 20px;
}

article {
    background-color: #fbb04c;
    grid-area: article;
    display: grid;
    align-items: end;
}

article .text {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.images-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

footer {
    background-color:#02bfb1;
    grid-area: footer;
    padding: 20px;
}

@media only screen and (max-width: 768px) {
    body {
        grid-template-areas:
            'header'
            'aside'
            'article'
            'footer';
        grid-template-columns: auto;
        width: 100%;
    }

    .images-container {
        grid-template-columns: auto;
    }
}